.backup
node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
/server/api/recording/uploads
.floo
.flooignore
/client/components/socket/jabbrSocket.js
.DS_Store
*.wav
