<!-- 
<div style="padding: 0px; padding-top: 0px;">
  <span ng-hide="error">
  </span>
  <br>
  <span ng-bind="error"></span>
</div>

<div class="row">
  <div class='col-md-9'>
    <video class='col-md-3 small-player' ng-src="{{localVideo}}" autoplay muted></video>
    <video class="col-md-12" ng-src="{{peer.stream}}" autoplay></video>
  </div>

  <div class="col-md-3">
    <i class="glyphicon glyphicon-volume-off" ng-hide='muted' ng-click='toggleAudio()'></i>
    <i class="glyphicon glyphicon-volume-up" ng-show='muted' ng-click='toggleAudio()'></i>
    <i class="glyphicon glyphicon-eye-close" ng-hide='cameraOff' ng-click='toggleVideo()'></i>
    <i class="glyphicon glyphicon-eye-open" ng-show='cameraOff' ng-click='toggleVideo()'></i>
    <div class='conversation'>
      <ul id="msgs" class="list-unstyled"></ul>
    </div>
    
    <div class="form-group form-inline">
      <form ng-submit='sendMsg()'>
        <input type="text" class="form-control input-lg" name="msg" placeholder="Send message in" ng-model='msg'>
        <select class='btn btn-default btn-lg' ng-options="language.language for language in targetLanguages" ng-model="targetLanguage"></select>
        <input type="submit" name="send" id="send" value="Send" class="btn btn-primary btn-lg">
      </form>
    </div>
  </div>
</div> -->

<div class="container">
      <div class="page-header">
        <h1>Tutorial 4: Video Call 1 to 1 with WebRTC</h1>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="control-label" for="name">Name</label>
          <div class="row">
            <div class="col-md-6">
              <input id="name" name="name" class="form-control" type="text"/>
            </div>
            <div class="col-md-6 text-right">
              <a id="register" href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Register</a>
            </div>
          </div>
          <br/>
          <br/>
          <label class="control-label" for="peer">Peer</label>
          <div class="row">
            <div class="col-md-5">
              <input id="peer" name="peer" class="form-control" type="text">
            </div>
            <div class="col-md-7 text-right">
              <a id="call" href="#" class="btn btn-success">
                <span class="glyphicon glyphicon-play"></span> Call</a>
              <a id="terminate" href="#" class="btn btn-danger">
                <span class="glyphicon glyphicon-stop"></span> Stop</a>
              <a id="play" href="#" class="btn btn-warning"><span
              class="glyphicon glyphicon-play-circle"></span>Play Rec</a>
            </div>
          </div>
          <br/>
          <label class="control-label" for="console">Console</label><br><br>
          <div id="console" class="democonsole">
            <ul></ul>
          </div>
        </div>
        <div class="col-md-7">
          <div id="videoBig">
            <video id="videoOutput" autoplay width="640px" height="480px" poster="images/webrtc.png"></video>
          </div>
          <div id="videoSmall">
            <video id="videoInput" autoplay width="240px" height="180px" poster="images/webrtc.png"></video>
          </div>
        </div>
      </div>
    </div>